.footer__colunm-link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 0.5s;
}

.footer__colunm-link:hover {
  opacity: 0.5;
}
